{% extends '::base.html.twig' %}

{% block content %}
<div class="text-center">
    <h1>This coffee was awesome!</h1>
    <a href="{{ path('xavifuefer_coffee_homepage') }}" class="btn btn-default">Get some more!</a>
</div>
{% endblock %}